* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 400px;
  height: 450px;
  text-align: center;
  border: 10px solid #6e94a7;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 400px;
}
article h2 {
  color: #6e94a7;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  margin: 10px auto;
}
article p {
  font-size: 18px;
  color: #222222;
  margin-bottom: 20px;
}

article a {
  text-decoration: none;
  color: white;
  background-color: #6e94a7;
  padding: 5px 15px;
  margin-right: 10px;
}

article a:hover {
  background-color: #222222;
  color: white;
}
