* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color: #3b4b68;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  h1 {
    color: #3b4b68;
    font-size: 3rem;
  }
}

header nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;

  li a {
    text-decoration: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    margin-top: 5rem;

    h1 {
      margin-bottom: 5rem;
    }

    nav ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
