section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section p {
  width: 700px;
}
section a {
  color: rgb(255, 0, 0);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

section a::after {
  content: " (" attr(data-tooltip) ")  ";
  width: 150px;
  position: absolute;
  text-align: center;
  top: -10px;
  left: -40px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 5px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

section a:hover::after {
  top: -30px;
  opacity: 1;
}
