* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 300px;
  background-color: rgb(114, 30, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(114, 30, 192);

  position: relative;

  overflow: hidden;
}

.box::before {
  content: "Color Change";
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(114, 30, 192);
  color: rgb(114, 30, 192);
  position: absolute;
  top: -2px;
  right: -105%;
  transition: all 0.5s ease-in-out;
}

.box:hover::before {
  right: -2px;
}
